@import styles/common

.backgroundBanner
  background-image: url("/assets/image103.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  padding: 100px 0px 30px 0
  @media screen and (min-width: 767px)
    padding: 120px 0 60px 0
  @media screen and (min-width: 1023px)

.noti 
  display: flex
  justify-content: center
  align-items: center
  padding: 10px
  gap: 20px 10px
  color: white
  margin-bottom: 20px
  @include box-glass
  @include border-grad-3(linear-gradient(290.92deg,#0bebd6,#cd28e8))
  background: linear-gradient(126.08deg, rgba(0, 0, 0, 0.3) 13.84%, rgba(0, 0, 0, 0.1) 74.14%)
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2)
  backdrop-filter: blur(40px)
  min-width: 180px
  img
    width: 25px
  p 
    margin: 0
    font-weight: 700
  @media screen and (min-width: 767px)
    padding: 10px 20px
    p
      font-size: 24px


.inf
  max-width: 689px
  width: 95%
  padding: 20px
  @include border-grad-3(linear-gradient(290.92deg,#0bebd6,#cd28e8))
  @include box-glass
  background: linear-gradient(126.08deg, rgba(0, 0, 0, 0.3) 13.84%, rgba(0, 0, 0, 0.1) 74.14%)
  background: linear-gradient(126.08deg, rgba(0, 0, 0, 0.3) 13.84%, rgba(0, 0, 0, 0.1) 74.14%)
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2)
  backdrop-filter: blur(40px)
  @media screen and (min-width: 767px) 
    padding: 20px 34px 38px 34px

.infLogo 
  img
    width: 70px
  @media screen and (min-width: 767px) 
    img
      width: 135px

.infContainer
  p
    margin: 0
  .infTitle 
    margin-top: 12px
    p 
      font-size: 14px
      font-weight: 700
      &:last-child
        font-size: 12px
  .infContent
    font-size: 14px
    margin-top: 10px
  @media screen and (min-width: 767px) 
    .infTitle
      p
        font-size: 36px
        &:last-child
          font-size: 24px
          font-weight: 400
    .infContent
      font-size: 24px
  
.infSocial
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 30px
  .infSocialIcons
    display: flex
    gap: 10px
    img
      width: 24px
  .infSocialRead
    font-size: 14px
    font-weight: 700
  @media screen and (min-width: 767px)
    .infSocialRead
      font-size: 24px
      a
        text-decoration: underline
    .infSocialIcons
      img
        width: 36px
