@import "styles/common"

.styleTitle
    margin-bottom: 120px
    @include my-text(72px, 82px, 700)
    font-family: 'Transformer'
    color: #FFFFFF
    @media (max-width: 413px)
        font-size: 36px
        line-height: 42px  
    @media (min-width: 414px)
        font-size: 40px
        line-height: 48px  
        margin-bottom: 150px 
    @media (min-width: 640px)
        font-size: 52px
        line-height: 60px  
        margin-bottom: 150px
    @media (min-width: 992px)
        font-size: 72px
        line-height: 82px  
        margin-bottom: 150px