$font48: 48px
$font36: 36px
$font24: 24px
$font14: 14px
$font9: 9px
$height: 76px
$height: 56px
$height: 36px
$width35: 35px
$width30: 30px
$width25: 25px
$width15: 15px
@import styles/common


$gradientBox: linear-gradient(126.08deg, rgba(255, 255, 255, 0.3) 13.84%, rgba(255, 255, 255, 0.1) 74.14%)
$gradientBorder: linear Gradient(to right,rgba(255, 255, 255, 0.7),rgba(244, 123, 246, 0.4), rgba(251, 76, 222, 0.4), rgba(210, 0, 215, 0.6)) border-box


.banner 
    position: relative
    // top: 50px
    width: 100%
    top: 30px
    > img
        width: 100%
    @media screen and ( min-width: 768px ) 
        top: -20px
    @media screen and ( min-width: 1024px ) 
        top: -20px
    @media screen and ( min-width: 1279px )
        top: -50px
.verifyModal
    .ant-modal-content
        color: blue
// Info component
.avatar
    img 
        border-radius: 50% 
.info 
    color: white
    display: flex
    align-items: flex-start
    justify-content: space-between
    word-wrap: break-word
    word-break: break-word
    gap: 12px
    input
        font-size: 18px
    button
        font-size: 18px
    p 
        margin: 0
    .name
        display: flex
        gap: 10px
        align-items: center
        button
            span
                position: relative
                top: -4px
            img 
                width: 20px
    @media (min-width: 425px) and (max-width: 767px)
        button
            font-size: 20px
        input
            font-size: 28px

    @media screen and ( min-width: 767px ) 
        button 
            font-size: $font24
        input
            font-size: 28px
        .name
            button
                font-size: $font24
                right: 10px
                top: -5px
                span
                    top: -4px
                img 
                    width: $width25
        // .id, .balance  
        //     font-size: $font14
        // .balance
        //     font-weight: 400
    @media screen and ( min-width: 1023px )
        button  
            font-size: $font36 
        .name, .fullName
            // font-size: $font36
            button
                img 
                    width: $width35
        // .balance, .id
        //     font-size: $font24
        //     font-weight: 300
        // .id
        //     font-size: $font24
// Contact container 
.contactContainer 
    padding: 20px 10px 20px 20px
    p, span
        margin: 0
        color: white
        // font-size: $font14
    span 
        font-weight: 600
    input 
        font-size: $font14
    .invalid 
        color: red
        font-size: $font14
        padding-left: 12px
    .title 
        display: flex
        gap: 10px
        img
            width: 18px
    .verifyBtn 
        padding: 4px 10px 
        border-radius: 8px
        width: 100px
        border: none
        background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
        font-size: 24px
        width: 150px
        height: 50px
        &:hover,
        &:active,
        &:focus
            background: linear-gradient(99.92deg, #d439ee 0%, #2cfce7 100%)
        
        &:disabled
            opacity: 0.7
            background: #C4C4C4
    :global(.ant-btn)
        border: none
        background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
        border-radius: 8px
        &:hover,
        &:active,
        &:focus
            background: linear-gradient(99.92deg, #d439ee 0%, #2cfce7 100%)
    @media screen and ( min-width:767px )
        padding: 20px 10px 20px 78px
        // p, span 
        //     font-size: $font24
        input 
            font-size: $font24
        .invalid
            padding-left: 16px
            font-size: $font24
        .title
            img
                width: 20px
    @media screen and ( min-width:1023px )
        padding: 62px 10px 62px 100px
        .title
            img
                width: $width30
// // Box component
.box 
    background: linear-gradient(151deg, rgba(255, 255, 255, 0.3) 13.84%, rgba(255, 255, 255, 0.1) 74.14%)
    @include border-grad-3(linear-gradient(0deg,rgba(255, 255, 255, 0.7),rgba(244, 123, 246, 0.4),rgba(251, 76, 222, 0.4),rgba(210, 0, 215, 0.6)))

    color: white
    border-radius: 25px
    width: 100%
    overflow: hidden
    word-wrap: break-word
    word-break: break-word
    // font-size: 14px
    padding: 20px
    p,span
        margin: 0
    span 
        font-weight: 600
    .title 
        display: flex
        align-items: center
        gap: 10px
        img 
            width: 18px
    .social
        a
            color: white
            display: flex
            align-items: center
            gap: 10px
            img 
                // background: #fff
                border-radius: 50%
                width: 20px
    @media screen and ( min-width:767px )
        padding: 30px 10px 30px 78px
        // p,span 
        //     font-size: $font24
        .title
            img
                width: 20px
        .social
            a
                gap: 20px
                input
                    font-size: $font24
                img 
                    width: 20px
    @media screen and ( min-width:1023px )
        // p,span 
        //     font-size: $font36
        padding: 62px 10px 62px 100px
        .title
            img
                width: $width30
        .social
            a
                input
                    font-size: $font24
                img 
                    width: $width30

.profileContainer
    margin-bottom: 60px
    @media screen and ( min-width: 540px )
        margin-bottom: 80px
    // @media screen and ( min-width: 768px )
    //     margin-bottom: 70px
    :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn)
        font-size: 18px
.inValid 
    color: red